{% extends 'layouts/application.html' %}

{% block content %}

<div class="container--large">
  <div class="split__container">
    <div class="split--40@large">
      <img src="http://placehold.it/343x341" alt="">
    </div>
    <div class="content split--60@large">
      <h1>Content</h1>
      <h3>Content</h3>
      <hr>
      <h2>Content</h2>
      <p>Content</p>
      <h2>Content</h2>
      <p>Content</p>
      <h2>Content</h2>
      <p>Content</p>
    </div>
  </div>
</div>

<div class="theme--dark">
  <div class="container--large container--large-padding content">
    <div class="split__container">
      <div class="split--66">
        <h1>Content</h1>
        <p>
          <button>Action</button>
        </p>
      </div>
      <div class="split--33">
        <img class="image--centered" src="http://placehold.it/200x300" alt="">
      </div>
    </div>
  </div>
</div>

<footer class="container--small-padding theme--dark">
  <p class="text--bold text--centered text--small">
    Jordan LaPointe ©2018
  </p>
</footer>

{% endblock %}
