{% extends 'layouts/application.html' %}

{% block content %}

<div class="container--large">
  <div class="split__container">
    <div class="split--40 content">
      <h1>Content heading</h1>
      <p>Content</p>
      <p>
        <button>
          Action
        </button>
      </p>
    </div>
  </div>
</div>

<div class="background--shaded container--large-padding">
  <div class="container--large">
    <div class="split__container">
      <div class="split--33@large content">
        <h2>Content</h2>
        <p>Content</p>
      </div>
      <div class="split--66@large">
        <div class="split__container--spacing-large">
          <div class="text--centered split--50@medium split--25@large">
            <img class="image--centered" src="http://placehold.it/192x45" alt="">
          </div>
          <div class="text--centered split--50@medium split--25@large">
            <img class="image--centered" src="http://placehold.it/192x45" alt="">
          </div>
          <div class="text--centered split--50@medium split--25@large">
            <img class="image--centered" src="http://placehold.it/192x45" alt="">
          </div>
          <div class="text--centered split--50@medium split--25@large">
            <img class="image--centered" src="http://placehold.it/192x45" alt="">
          </div>
          <div class="text--centered split--50@medium split--25@large">
            <img class="image--centered" src="http://placehold.it/192x45" alt="">
          </div>
          <div class="text--centered split--50@medium split--25@large">
            <img class="image--centered" src="http://placehold.it/192x45" alt="">
          </div>
          <div class="text--centered split--50@medium split--25@large">
            <img class="image--centered" src="http://placehold.it/192x45" alt="">
          </div>
          <div class="text--centered split--50@medium split--25@large">
            <img class="image--centered" src="http://placehold.it/192x45" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container--large">
  <div class="split__container">
    <div class="split--40 content">
      <h1>Content heading</h1>
      <p>Content paragraph</p>
      <h3>Content heading</h3>
    </div>
    <div class="split--60">
      <img class="image--centered" src="http://placehold.it/400" alt="">
    </div>
  </div>
</div>

<div class="container--large">
  <div class="split__container">
    <a class="background--shaded container--medium-padding split--33@large" href="#">
      <div class="content">
        <img class="image--centered" src="http://placehold.it/200x150" alt="">
        <h3>The Content</h3>
        <p>Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur.</p>
        <p>
          <span class="button--secondary">Action</span>
        </p>
      </div>
    </a>
    <a class="background--shaded container--medium-padding split--33@large" href="#">
      <div class="content">
        <img class="image--centered" src="http://placehold.it/200x150" alt="">
        <h3>The Content</h3>
        <p>Donec purus tortor, venenatis id nisi non, dignissim egestas ligula.</p>
        <p>
          <span class="button--secondary">Action</span>
        </p>
      </div>
    </a>
    <a class="background--shaded container--medium-padding split--33@large" href="#">
      <div class="content">
        <img class="image--centered" src="http://placehold.it/200x150" alt="">
        <h3>The Content</h3>
        <p>Donec purus tortor, venenatis id nisi non, dignissim egestas ligula.</p>
        <p>
          <span class="button--secondary">Action</span>
        </p>
      </div>
    </a>
  </div>
</div>

<div class="container--large">
  <div class="split__container">
    <div class="split--40@large content">
      <h1>Content heading</h1>
      <p>Content paragraph</p>
      <button class="button--secondary">Secondary Action</button>
    </div>
    <div class="split--60@large">
      <div class="split__container">
        <div class="container--medium-padding split--50@medium theme--dark">
          <div class="content">
            <h3>Content heading</h3>
            <p>Content paragraph</p>
          </div>
        </div>
        <div class="container--medium-padding split--50@medium theme--dark">
          <div class="content">
            <h3>Content heading</h3>
            <p>Content paragraph</p>
          </div>
        </div>
        <div class="container--medium-padding split--50@medium theme--dark">
          <div class="content">
            <h3>Content heading</h3>
            <p>Content paragraph</p>
          </div>
        </div>
        <div class="container--medium-padding split--50@medium theme--dark">
          <div class="content">
            <h3>Content heading</h3>
            <p>Content paragraph</p>
          </div>
        </div>
        <div class="container--medium-padding split--50@medium theme--dark">
          <div class="content">
            <h3>Content heading</h3>
            <p>Content paragraph</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
