{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
  <div style="width: 600px; margin: auto;">
    <h1 class="heading--xlarge">Heading Extra Large</h1>
    <h2 class="heading--large">Heading Large</h2>
    <h3 class="heading--medium">Heading Medium</h3>
    <h4 class="heading--small">Heading Small</h4>
    <h5 class="heading--xsmall">Heading Extra Small</h5>
    <h6 class="heading--xxsmall">Heading Extra Extra Small</h6>
    <p class="text--medium">Text Medium — Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur. Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur.</p>
  </div>
{% endblock %}
