{% extends 'layouts/application.html' %}

{% block content %}

<div class="styleguide">
  <h1 class="heading--xlarge">Project Coleslaw Styleguide</h1>

  <h2 class="heading--large">Actions</h1>
  {% call example() -%}
<div>
  <button class="button">Button Default</button>
</div>
<div>
  <button class="button--secondary">Button Secondary</button>
</div>
<div>
  <a class="link" href="#">Link</a>
</div>
<div>
  <a class="link--with-arrow" href="#">Link with arrow</a>
</div>
  {%- endcall %}

  <h2 class="heading--large">Clickable Sections</h2>
  {% call example() -%}
<div class="container--large">
  <div class="split__container">
    <a class="background--shaded padding--medium split--33@large" href="#">
      <div class="content">
        <h3>The Content</h3>
        <p>Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur.</p>
        <p>
          <span class="button--secondary">Action</span>
        </p>
      </div>
    </a>
    <a class="background--shaded padding--medium split--33@large" href="#">
      <div class="content">
        <h3>The Content</h3>
        <p>Donec purus tortor, venenatis id nisi non, dignissim egestas ligula.</p>
        <p>
          <span class="button--secondary">Action</span>
        </p>
      </div>
    </a>
    <a class="split--33@large" href="#">
      <div class="padding--medium theme--dark">
        <div class="content">
          <h3>The Content</h3>
          <p>Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur.</p>
          <p>
            <span class="button--secondary">Action</span>
          </p>
        </div>
      </div>
    </a>
  </div>
</div>
  {%- endcall %}

  <h2 class="heading--large">Headings and Paragraphs</h2>
  {% call example() -%}
<h1 class="heading--xlarge">Heading Extra Large</h1>
<h2 class="heading--large">Heading Large</h2>
<h3 class="heading--medium">Heading Medium</h3>
<h4 class="heading--small">Heading Small</h4>
<h5 class="heading--xsmall">Heading Extra Small</h5>
<h6 class="heading--xxsmall">Heading Extra Extra Small</h6>
<p class="lede">Lede — Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur.</p>
<p class="text--medium">Text Medium — Donec purus tortor, venenatis id nisi non, ligula. Praesent scelerisque, libero sed lobortis efficitur. Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur.</p>
  {%- endcall %}

  <h2 class="heading--large">Container</h2>
  {% call example() -%}
<div class="container--large background--shaded">
  Large container
</div>
<div class="container--xlarge background--shaded spacing--top-medium">
  Extra large container
</div>
  {%- endcall %}

  <h2 class="heading--large">Content Area</h2>
  {% call example() -%}
<div class="content">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
  <p class="lede">Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur. Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur.</p>
  <p>Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur. Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur.</p>
  <p>Praesent scelerisque, libero sed <a href="#">lobortis efficitur</a>. Donec purus tortor, venenatis id nisi non, dignissim egestas ligula.</p>
  <p><button>Button</button></p>
</div>
  {%- endcall %}

  <h2 class="heading--large">Footer</h2>
  {% call example() -%}
<footer class="footer theme--dark">Company Name ©2018</footer>
  {%- endcall %}

  <h2 class="heading--large">Form Fields</h2>
  {% call example() -%}
<label for="form-field-example">Form Field</label>
<input type="text" id="form-field-example">
<label for="form-field-example-2">Form Field with Error</label>
<input class="has-error" type="text" id="form-field-example-2">
<label for="textarea-example">Textarea</label>
<textarea id="textarea-example"></textarea>
  {%- endcall %}

  <h2 class="heading--large">Hidden</h2>
  {% call example() -%}
<div class="hidden">Hidden</div>
<div class="hidden@medium">Hidden at medium breakpoint</div>
<div class="hidden@large">Hidden at large breakpoint</div>
<div class="hidden@below-medium">Hidden at medium breakpoint or smaller</div>
<div class="hidden@below-large">Hidden at large breakpoint or smaller</div>
  {%- endcall %}

  <h2 class="heading--large">Image</h2>
  {% call example() -%}
<div>
  <img class="image--centered" src="http://placehold.it/300x200" alt="">
</div>
  {%- endcall %}

  <h2 class="heading--large">Responsive Image</h2>
  {% call example() -%}
<picture>
  <source srcset="http://placehold.it/2560x1280" media="(min-width: 600px) and (min-resolution: 192dpi)">
  <source srcset="http://placehold.it/750x375" media="(max-width: 600px)">
  <img src="http://placehold.it/1280x640" alt="">
</picture>
  {%- endcall %}

  <h2 class="heading--large">Navigation</h2>
  {% call example() -%}
<header class="navigation">
  <h1 class="navigation__title">
    <a class="navigation__title-link" href="#">
      <img class="navigation__logo" src="http://placehold.it/296x40" alt="Company Name">
    </a>
  </h1>
  <nav class="navigation__actions">
    <ul class="navigation__items">
      <li class="navigation__item">
        <a class="navigation__link" href="#">Page 1</a>
      </li>
      <li class="navigation__item current-menu-item">
        <a class="navigation__link" href="#">Page 2</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#">Page 3</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#">Page 4</a>
      </li>
      <li class="navigation__item">
        <a class="navigation__link" href="#">Page 5</a>
      </li>
    </ul>
  </nav>
</header>
  {%- endcall %}

  <h2 class="heading--large">Padding</h2>
  {% call example() -%}
<div class="padding--small background--shaded">
  Small padding
</div>
<br>
<div class="padding--medium background--shaded">
  Medium padding
</div>
<br>
<div class="padding--large background--shaded">
  Large padding
</div>
<br>
<div class="padding--vertical-medium background--shaded">
  Medium vertical padding
</div>
<br>
<div class="padding--horizontal-large background--shaded">
  Large horizontal padding
</div>
<br>
<div class="padding--small padding--large@medium background--shaded">
  Small padding <br>
  Large padding on medium-sized screens and greater
</div>
  {%- endcall %}

  <h2 class="heading--large">Spacing</h2>
  {% call example() -%}
<div class="split__container">
  <div class="split--50">
    <p class="spacing--bottom-xxlarge">Spacing bottom extra extra large</p>
    <p class="spacing--bottom-xlarge">Spacing bottom extra large</p>
    <p class="spacing--bottom-large">Spacing bottom large</p>
    <p class="spacing--bottom-medium">Spacing bottom medium</p>
    <p class="spacing--bottom-small">Spacing bottom small</p>
  </div>
  <div class="split--50">
    <p class="spacing--top-small">Spacing top small</p>
    <p class="spacing--top-medium">Spacing top medium</p>
    <p class="spacing--top-large">Spacing top large</p>
    <p class="spacing--top-xlarge">Spacing top extra large</p>
    <p class="spacing--top-xxlarge">Spacing top extra extra large</p>
  </div>
</div>
  {%- endcall %}


  <h2 class="heading--large">Split Layout</h2>
  <p>Available sizes:</p>
  <ul>
    <li>split--66</li>
    <li>split--60</li>
    <li>split--50</li>
    <li>split--40</li>
    <li>split--33</li>
    <li>split--25</li>
  </ul>
  {% call example() -%}
<div class="container--large">
  <div class="split__container--vertically-centered">
    <div class="split--33@large content">
      <h2>The Content</h2>
      <p>Donec purus tortor, venenatis id nisi non, dignissim egestas ligula. Praesent scelerisque, libero sed lobortis efficitur.</p>
    </div>
    <div class="split--66@large">
      <div class="split__container--spacing-large">
        <div class="text--centered split--50@medium split--25@large">
          <img class="image--centered" src="http://placehold.it/192x45" alt="">
        </div>
        <div class="text--centered split--50@medium split--25@large">
          <img class="image--centered" src="http://placehold.it/192x45" alt="">
        </div>
        <div class="text--centered split--50@medium split--25@large">
          <img class="image--centered" src="http://placehold.it/192x45" alt="">
        </div>
        <div class="text--centered split--50@medium split--25@large">
          <img class="image--centered" src="http://placehold.it/192x45" alt="">
        </div>
        <div class="text--centered split--50@medium split--25@large">
          <img class="image--centered" src="http://placehold.it/192x45" alt="">
        </div>
        <div class="text--centered split--50@medium split--25@large">
          <img class="image--centered" src="http://placehold.it/192x45" alt="">
        </div>
        <div class="text--centered split--50@medium split--25@large">
          <img class="image--centered" src="http://placehold.it/192x45" alt="">
        </div>
        <div class="text--centered split--50@medium split--25@large">
          <img class="image--centered" src="http://placehold.it/192x45" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
  {%- endcall %}

</div>

{% endblock %}
