// # Forms

// ## Input
.field {
  background-color: $color-background-shaded;
  border: solid 1px $color-background-shaded;
  border-radius: 0;
  display: block;
  font-size: $font-small;
  line-height: $leading-medium;
  margin: 0;
  outline: none;
  padding: $spacing-unit * 2 $spacing-unit * 3;
  width: 100%;

  &:focus {
    border-color: $color-action;
  }
  &.has-error {
    border-color: $color-warning;
  }
}

// ## Label
.label {
  color: $content-light;
  display: inline-block;
  font-size: $font-medium;
  font-weight: 300;

  &:not(:first-child) {
    margin-top: $spacing-unit * 3;
  }
}
