// # Layout

$column-spacing-medium: 25px / 2;
$column-spacing-large: 25px;

// ## Container
.container--large {
  margin: auto;
  max-width: $width-large;
}
.container--small-padding {
  padding: $spacing-unit * 2;
}
.container--medium-padding {
  padding: $spacing-unit * 5;
}

// ## Split
.split__container,
.split__container--spacing-large {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@mixin split($width) {
  .split__container > & {
    margin-bottom: $spacing-unit * 4;
    width: calc(#{$width} - #{$column-spacing-medium});

    &\@medium {
      @media (min-width: $breakpoint-medium) {
        width: calc(#{$width} - #{$column-spacing-medium});
      }
    }
    &\@large {
      @media (min-width: $breakpoint-large) {
        width: calc(#{$width} - #{$column-spacing-medium});
      }
    }
  }
  .split__container--spacing-large > & {
    margin-bottom: $spacing-unit * 4;
    width: calc(#{$width} - #{$column-spacing-large});

    &\@medium {
      @media (min-width: $breakpoint-medium) {
        width: calc(#{$width} - #{$column-spacing-large});
      }
    }
    &\@large {
      @media (min-width: $breakpoint-large) {
        width: calc(#{$width} - #{$column-spacing-large});
      }
    }
  }
}
[class*="split--"] {
  margin-bottom: $spacing-unit * 4;
  width: calc(100%);
}
.split--66 {
  @include split(66.666%);
}
.split--60 {
  @include split(60%);
}
.split--50 {
  @include split(50%);
}
.split--40 {
  @include split(40%);
}
.split--33 {
  @include split(33.333%);
}
.split--25 {
  @include split(25%);
}
