// # Layout

$column-spacing-medium: 25px / 2;
$column-spacing-large: 25px;

// ## Background
.background--shaded {
  background-color: $color-background-shaded;
}

// ## Container
.container--xlarge {
  margin-left: auto;
  margin-right: auto;
  max-width: $width-xlarge;
}
.container--large {
  margin-left: auto;
  margin-right: auto;
  max-width: $width-large;
}

// ## Hidden
.hidden {
  display: none;
}
.hidden\@medium {
  @media (min-width: $breakpoint-medium) {
    display: none;
  }
}
.hidden\@large {
  @media (min-width: $breakpoint-large) {
    display: none;
  }
}
.hidden\@below-medium {
  @media (max-width: $breakpoint-medium) {
    display: none;
  }
}
.hidden\@below-large {
  @media (max-width: $breakpoint-large) {
    display: none;
  }
}

// ## Image
.image--centered {
  &,
  & > img {
    margin-left: auto;
    margin-right: auto;
  }
}

// ## Offscreen
.offscreen {
  position: absolute;
  left: -9999px;
}

// ## Padding
@mixin padding($padding-units) {
  & {
    padding: $spacing-unit * $padding-units;
  }
  &\@medium {
    @media (min-width: $breakpoint-medium) {
      padding: $spacing-unit * $padding-units;
    }
  }
  &\@large {
    @media (min-width: $breakpoint-large) {
      padding: $spacing-unit * $padding-units;
    }
  }
}
@mixin padding-horizontal($padding-units) {
  & {
    padding-left: $spacing-unit * $padding-units;
    padding-right: $spacing-unit * $padding-units;
  }
  &\@medium {
    @media (min-width: $breakpoint-medium) {
      padding-left: $spacing-unit * $padding-units;
      padding-right: $spacing-unit * $padding-units;
    }
  }
  &\@large {
    @media (min-width: $breakpoint-large) {
      padding-left: $spacing-unit * $padding-units;
      padding-right: $spacing-unit * $padding-units;
    }
  }
}
@mixin padding-vertical($padding-units) {
  & {
    padding-bottom: $spacing-unit * $padding-units;
    padding-top: $spacing-unit * $padding-units;
  }
  &\@medium {
    @media (min-width: $breakpoint-medium) {
      padding-bottom: $spacing-unit * $padding-units;
      padding-top: $spacing-unit * $padding-units;
    }
  }
  &\@large {
    @media (min-width: $breakpoint-large) {
      padding-bottom: $spacing-unit * $padding-units;
      padding-top: $spacing-unit * $padding-units;
    }
  }
}
.padding--small {
  @include padding(2);
}
.padding--medium {
  @include padding(5);
}
.padding--large {
  @include padding(10);
}
.padding--horizontal-small {
  @include padding-horizontal(2);
}
.padding--horizontal-medium {
  @include padding-horizontal(5);
}
.padding--horizontal-large {
  @include padding-horizontal(10);
}
.padding--vertical-small {
  @include padding-vertical(2);
}
.padding--vertical-medium {
  @include padding-vertical(5);
}
.padding--vertical-large {
  @include padding-vertical(10);
}

// ## Spacing
.spacing--bottom-small {
  margin-bottom: $spacing-unit * 2;
}
.spacing--bottom-medium {
  margin-bottom: $spacing-unit * 5;
}
.spacing--bottom-large {
  margin-bottom: $spacing-unit * 10;
}
.spacing--bottom-xlarge {
  margin-bottom: $spacing-unit * 15;
}
.spacing--bottom-xxlarge {
  margin-bottom: $spacing-unit * 25;
}
.spacing--top-small {
  margin-top: $spacing-unit * 2;
}
.spacing--top-medium {
  margin-top: $spacing-unit * 5;
}
.spacing--top-large {
  margin-top: $spacing-unit * 10;
}
.spacing--top-xlarge {
  margin-top: $spacing-unit * 15;
}
.spacing--top-xxlarge {
  margin-top: $spacing-unit * 25;
}

// ## Split
.split__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: -$spacing-unit * 4;
}
.split__container--spacing-large,
.split__container--spacing-none {
  @extend .split__container;
}
.split__container--vertically-centered {
  @extend .split__container;
  align-items: center;
}
@mixin split($width) {
  .split__container > & {
    margin-bottom: $spacing-unit * 4;
    width: calc(#{$width} - #{$column-spacing-medium});

    &\@medium {
      @media (min-width: $breakpoint-medium) {
        width: calc(#{$width} - #{$column-spacing-medium});
      }
    }
    &\@large {
      @media (min-width: $breakpoint-large) {
        width: calc(#{$width} - #{$column-spacing-medium});
      }
    }
  }
  .split__container--spacing-large > & {
    margin-bottom: $spacing-unit * 4;
    width: calc(#{$width} - #{$column-spacing-large});

    &\@medium {
      @media (min-width: $breakpoint-medium) {
        width: calc(#{$width} - #{$column-spacing-large});
      }
    }
    &\@large {
      @media (min-width: $breakpoint-large) {
        width: calc(#{$width} - #{$column-spacing-large});
      }
    }
  }
  .split__container--spacing-none > & {
    margin-bottom: $spacing-unit * 4;
    width: $width;

    &\@medium {
      @media (min-width: $breakpoint-medium) {
        width: $width;
      }
    }
    &\@large {
      @media (min-width: $breakpoint-large) {
        width: $width;
      }
    }
  }
}
[class*="split--"] {
  margin-bottom: $spacing-unit * 4;
  width: calc(100%);
}
.split--66 {
  @include split(66.666%);
}
.split--60 {
  @include split(60%);
}
.split--50 {
  @include split(50%);
}
.split--40 {
  @include split(40%);
}
.split--33 {
  @include split(33.333%);
}
.split--25 {
  @include split(25%);
}
