// # Navigation

.navigation {
  background-color: #fff;
  padding: $spacing-unit * 4 $spacing-unit * 5;
  position: relative;
  position: sticky;
  top: 0;

  @media (min-width: $breakpoint-medium) {
    text-align: center;
  }
  @media (min-width: $breakpoint-large) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
.navigation__actions {
  @media (max-width: $breakpoint-medium) {
    background-color: $color-background-shaded;
    display: none;
    left: 0;
    padding-top: $spacing-unit * 3;
    padding-bottom: $spacing-unit * 3;
    position: absolute;
    top: 100%;
    width: 100%;

    .navigation__toggle:checked ~ & {
      display: block;
    }
  }
}
.navigation__logo {
  display: block;

  @media (min-width: $breakpoint-medium) {
    margin-left: auto;
    margin-right: auto;
  }
  @media (max-width: $breakpoint-medium) {
    max-width: 200px;
  }
}
.navigation__items {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $breakpoint-medium) and (max-width: $breakpoint-large) {
    margin-top: $spacing-unit * 2;
  }
}
.navigation__item {
  @media (min-width: $breakpoint-medium) {
    display: inline-block;

    &:not(:last-child) {
      margin-right: $spacing-unit * 6;
    }
  }
  @media (max-width: $breakpoint-medium) {
    padding: $spacing-unit * 3 $spacing-unit * 5;
    text-align: right;
  }
}
.navigation__link {
  color: $content-dark;
  font-size: $font-small;
  line-height: $leading-small;
  text-decoration: none;
  transition: opacity 250ms;

  @media (max-width: $breakpoint-medium) {
    font-size: 21px;
  }
  .navigation__items:hover &:not(:hover) {
    opacity: .5;
  }
  .navigation__item.current-menu-item & {
    box-shadow: 0 2px 0 $color-action;
    color: $content-dark;
  }
}
.navigation__title {
  display: block;
  line-height: 0;
}
.navigation__title-link {
  display: inline-block;
}
.navigation__toggle {
  @extend .offscreen;

  @media (min-width: $breakpoint-medium) {
    display: none;
  }
}
.navigation__toggle-label {
  @media (max-width: $breakpoint-medium) {
    cursor: pointer;
    position: absolute;
    right: $spacing-unit * 5;
    margin-top: 0 !important; // Override default label style
    top: 50%;
    transform: translateY(-50%);

    .navigation__toggle:focus ~ &:not(:hover) {
      outline: 1px dotted $color-action;
    }
    &::before {
      background-image: url("data:image/svg+xml;utf8,#{$icon-hamburger}");
      background-position: center;
      background-repeat: no-repeat;
      content: '';
      display: block;
      height: 30px;
      width: 30px;

      .navigation__toggle:checked ~ & {
        background-image: url("data:image/svg+xml;utf8,#{$icon-close}");
      }
    }
  }
  @media (min-width: $breakpoint-medium) {
    display: none;
  }
}
label.navigation__toggle-label {
}
