// # Page

* {
  box-sizing: inherit;
}
a {
  color: inherit;
  text-decoration: none;
}
body {
  box-sizing: border-box;
  color: $content-dark;
  font-family: $font-family-default;
  margin: 0;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
}
legend {
  padding: 0;
}
picture {
  display: block;
}
