// # Typograpgy

// ## Divider
.divider {
  background-color: $color-action;
  border: none;
  height: 2px;
  margin-left: 0;
  margin-right: 0;
  width: $spacing-unit * 10;
}

// ## Heading
%heading {
  margin: 0;
  outline: none;

  a & {
    color: $color-action;
  }
  a:hover & {
    color: $color-action-dark;
  }
  a:active & {
    color: $color-action-xdark;
  }
  .theme--dark &,
  a:hover .theme--dark &,
  a:active .theme--dark & {
    color: #fff;
  }
}
.heading--xxsmall {
  @extend %heading;
  color: $content-light;
  font-size: $font-xxsmall;
  text-transform: uppercase;
}
.heading--xsmall {
  @extend %heading;
  font-size: $font-xsmall;
  font-weight: 500;
  line-height: $leading-xsmall;
}
.heading--small {
  @extend %heading;
  color: $content-light;
  font-size: $font-small;
  font-weight: 500;
  line-height: $leading-small;
}
.heading--medium {
  @extend %heading;
  color: $content-light;
  font-size: $font-medium;
  font-weight: 300;
  line-height: $leading-medium;

  .theme--dark & {
    color: $content-xlight;
  }
}
.heading--large {
  @extend %heading;
  font-size: $font-large;
  line-height: $leading-large;
}
.heading--xlarge {
  @extend %heading;
  font-size: $font-xlarge;
  line-height: $leading-xlarge;
}

// ## List
.list {
  padding-left: 1.5em;
}

// ## Text
%text {
  color: $content-dark;
  font-family: $font-family-paragraph;
  font-weight: 300;
  margin: 0;

  .theme--dark & {
    color: $content-xlight;
  }
}
.text--bold {
  font-weight: 700;
}
.text--centered {
  text-align: center;
}
.text--small {
  @extend %text;
  font-size: $font-xsmall;
  line-height: $leading-small;
}
.text--medium {
  @extend %text;
  font-size: $font-small;
  line-height: $leading-medium;
}
