// # App

// ## Components
@import "variables";
@import "fonts";
@import "page";
@import "typography";
@import "actions";
@import "content";
@import "navigation";
@import "layout";
@import "theme";
@import "forms";
@import "modal";

// ## Uncategorized
.background--shaded {
  background-color: $color-background-shaded;
}
.image--centered {
  margin: auto;
}
.offscreen {
  position: absolute;
  left: -9999px;
}

// Carousel
.carousel__item {

}
.carousel__item--hidden {
  display: none;
}

// Page-specific Components
@import "contact-page";
