// # App

// ## Components
@import "variables";
@import "fonts";
@import "reset";
@import "typography";
@import "actions";
@import "content";
@import "navigation";
@import "layout";
@import "theme";
@import "forms";
@import "modal";
@import "contact-page";

// ## Uncategorized

// ### Footer
.footer {
  font-weight: bold;
  padding: $spacing-unit * 2;
  text-align: center;

  &.theme--dark {
    border-top: 1px solid #4A535C;
    color: #fff;
  }
}

// ### Homepage
.homepage-hero-image {
  @media (min-width: $breakpoint-large) {
    position: relative;
    right: -25px;
  }
}
.homepage-partner-logo {
  display: block;
}
.homepage-partner-logo img {
  margin: auto;
  max-height: 50px;
  max-width: 150px;
  max-width: 150px;
  max-height: 50px;
}

// ### Carousel
.js-carousel-item {
  align-items: center;
  display: flex;
  height: 50px;
  transition: opacity 400ms;

  &.is-hidden {
    opacity: 0;
  }
}

// ### Wordpress overrides
.frm_button_submit {
  @extend .button;
}
.frm_forms:not(:first-child) {
  margin-top: $spacing-unit * 3;
}
.frm_error,
.frm_error_style {
  color: $color-warning;
}
.frm_form_field {
  & + & {
    margin-top: $spacing-unit * 3;
  }
}
.frm_hidden,
.frm_screen_reader {
  @extend .offscreen;
}
.frm_submit {
  margin-top: $spacing-unit * 5;
}
.navigation__actions {
  ul {
    @extend .navigation__items;
  }
  .menu-item {
    @extend .navigation__item;
  }
  .menu-item a {
    @extend .navigation__link;
  }
}
